@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


    <section id="contentArea">
        <h3><strong>Antivirus Software</strong></h3>

        <h4>What is antivirus software? <sup>5</sup></h4>
        <p>
            Antivirus software is a computer program or set of programs designed to <span class="color">prevent, detect,</span> and <span class="color">destroy viruses</span> and malware such as trojans, worms, and spyware.
            <br /><br />
            How does it work?
            <br />
            Antivirus software uses a database of virus signatures which checks your computer files against, along with any incoming files or files you wish to access.
            <br /><br />
            It usually works in the following ways:
            <ul>
                <li style="margin-bottom:1%">
                    <i class="icon-info-blocks material-icons" style="vertical-align:middle; color: #ff5722">policy</i>

                    &nbsp; &nbsp; &nbsp;Full system scans<br />
                    <div style="margin-left: 4%">
                        Usually performed when you first install your antivirus software to ensure there are no viruses lying dormant on your computer prior to
                        installing the software. The software will then scan your computer regularly (weekly or biweekly) and quarantine or delete any malicious viruses.
                    </div>
                </li>
                <li style="margin-bottom:1%">
                    <i class="icon-info-blocks material-icons" style="vertical-align:middle; color: #ff5722">policy</i>

                    &nbsp; &nbsp; &nbsp;On access scans<br />
                    <div style="margin-left: 4%">
                        This runs in the background and checks each file that you open on your computer. When you click to open a file, the software checks the file
                        first, comparing it to known viruses and flagging the potential threat.
                    </div>
                </li>
            </ul>


        </p>
        <br />

        <h4>Why do I need antivirus software? <sup>6</sup></h4>
        <p>



            For as long as computers have been and will be in existence, whether connected to the Internet or not, there will always be a need for antivirus software.
            There will never be a time when people, whether mischievous youths seeking a thrill or a hardened cybercriminals looking to exploit billion-dollar companies,
            will stop looking to find ways to commit fraud, cause widespread damage, or just experience the rush of breaking into a computer.

           
            <img src="~/img/antivirus.jpg" alt="antivirus" style="display:block; width: 25%; float:left; margin: 2%; border: 1em double #ff5722" />

            Antivirus software is an important tool to help prevent such attacks. Not every type of cyberattack can be prevented with antivirus software, but it can be
            a great asset when trying to prevent intrusion into a computer.

            <br /><br />
            Although not every intrusion into a computer is meant to cause damage or steal valuable information, that doesn’t mean that the attack isn’t dangerous.
            All intrusions into a computer exploit what is known as a vulnerability, or a weakness in the computer’s operating system or other software that can act as
            an access point to an attack. Once even the most innocuous of an intrusion exploits a vulnerability, it basically sends a signal to others that this
            computer has been infiltrated. This opens the door wide open to much worse attacks.

            <br /><br />

            When looking to purchase antivirus software, make sure to purchase a trusted and well known, subscription-based program. This is important, as the makers
            of this type of software will be able to keep their subscribers’ computers protected with real-time updates that scout out the latest threats.


        </p>






    </section>