@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


    <section id="contentArea">
        <h3><strong>Backups and recovery <sup>7</sup></strong></h3>


        <h4>What is a data backup?</h4>
        <p>

            The purpose of the backup is to create a copy of data that can be recovered in the event of a primary data failure. Primary data failures can be the result
            of hardware or software failure, data corruption, or a human-caused event, such as a <span class="color">malicious attack (virus or malware),</span> or 
            <span class="color">accidental deletion of data.</span>
            Backup copies allow data to be restored from an earlier point in time to help the business recover from an unplanned event.
        </p>
        <img src="~/img/backup.jpg" alt="backup" style="display:block; width: 35%; float:right; margin: 2%; border: 1em double #ff5722" />

        <br />

        <h4>Why are data backups and recoveries important?</h4>
        <p>
            Storing the copy of the data on separate medium is critical to protect against primary data loss or corruption. This additional medium can be as simple as an
            external drive or USB stick, or something more substantial, such as a disk storage system, cloud storage container, or tape drive.
            The alternate medium can be in the same location as the primary data or at a remote location. The possibility of weather-related events may justify having copies
            of data at remote locations.

            <br /><br />
            For best results, backup copies are made on a consistent, regular basis to minimize the amount data lost between backups. The more time passes between backup copies,
            the more potential for data loss when recovering from a backup. Retaining multiple copies of data provides the insurance and flexibility to restore to a point in
            time not affected by data corruption or malicious attacks.
        </p>





    </section>