@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<section id="contentArea">
    <h3><strong>HTTPS</strong></h3>

    <h4>What is HTTPS? <sup>8</sup></h4>

    <p>
        <img src="~/img/http.jpg" alt="https" style="display:block; width: 30%; float:right; margin: 0% 2% 2% 2%; border: 1em double #ff5722" />

        Hypertext transfer protocol secure (HTTPS) is the secure version of HTTP, which is the primary protocol used to send data between a web browser and a
        website. HTTPS is encrypted in order to increase security of data transfer. This is particularly important when users transmit sensitive data, such as
        by logging into a bank account, email service, or health insurance provider.
        <br /><br />

        Any website, especially those that require login credentials, should use HTTPS. In modern web browsers such as Chrome, websites that do not use
        HTTPS are marked differently than those that are. Look for a green padlock in the URL bar to signify the webpage is secure. Web browsers take HTTPS
        seriously; Google Chrome and other browsers flag all non-HTTPS websites as not secure.



    </p>
    <br />

    <h4>Why is HTTPS important? <sup>8</sup></h4>

    <p>
        HTTPS prevents websites from having their information broadcast in a way that’s easily viewed by anyone snooping on the network. When information
        is sent over regular HTTP, the information is broken into packets of data that can be easily “sniffed” using free software. This makes communication
        over the an unsecure medium, such as public Wi-Fi, highly vulnerable to interception. In fact, all communications that occur over HTTP occur in plain
        text, making them highly accessible to anyone with the correct tools, and vulnerable to man-in the-middle attacks.
        <br /><br />

        With HTTPS, traffic is encrypted such that even if the packets are sniffed or otherwise intercepted, they will come across as nonsensical c
        haracters. Let’s look at an example:<br /><br />

        <strong><span class="color">Before encryption:</span></strong><br />
        <pre>This is a string of text that is completely readable</pre>
        <br />
        <strong><span class="color">After encryption:</span></strong><br />
        <br />
        <pre>ITM0IRyiEhVpa6VnKyExMiEgNveroyWBPlgGyfkflYjDaaFf/Kn3bo3OfghBPDWo6AfSHlNtL8N7ITEwIXc1gU5X73xMsJormzzXlwOyrCs+9XCPk63Y+z0=</pre>
        <br /><br />
        In websites without HTTPS, it is possible for Internet service providers (ISPs) or other intermediaries to inject content into webpages without the 
        approval of the website owner. This commonly takes the form of advertising, where an ISP looking to increase revenue injects paid advertising into 
        the webpages of their customers. Unsurprisingly, when this occurs, the profits for the advertisements and the quality control of those advertisements 
        are in no way shared with the website owner. HTTPS eliminates the ability of unmoderated third parties to inject advertising into web content.
    </p>

</section>