<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CyberU</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="~/materialize/css/materialize.min.css" media="screen,projection" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/fancybox/jquery.fancybox.css" rel="stylesheet">
    <link href="~/css/flexslider.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />

    <!-- javascript
        ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="~/js/jquery.js"></script>
    <script src="~/js/jquery.easing.1.3.js"></script>
    <script src="~/materialize/js/materialize.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.fancybox.pack.js"></script>
    <script src="~/js/jquery.fancybox-media.js"></script>
    <script src="~/js/jquery.flexslider.js"></script>
    <script src="~/js/animate.js"></script>
    <!-- Vendor Scripts -->
    <script src="~/js/modernizr.custom.js"></script>
    <script src="~/js/jquery.isotope.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/animate.js"></script>
    <script src="~/js/custom.js"></script>
    <script>

        $(document).ready(function () {
            setActiveHeaderLink();
        });

        function setActiveHeaderLink() {
            $(".navLink").each(function (index) {
                $(this).closest("li").removeClass("active");
                if ($(this).attr('href') == window.location.pathname) {
                    $(this).closest("li").addClass("active");
                }
            });
        }

    </script>
</head>


<body>
    <div id="wrapper" class="home-page">
        <!-- start header -->
        <header>
            <div class="navbar navbar-default navbar-static-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="index.html"><img src="~/img/logo2.png" width="70%" alt="Cyber-U" /></a>
                    </div>
                    <div class="navbar-collapse collapse ">
                        <ul class="nav navbar-nav">
                            <li id="home"><a class="waves-effect waves-dark navLink" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                            <li id="education"><a class="waves-effect waves-dark navLink" asp-area="" asp-controller="Home" asp-action="Education">Education</a></li>
                            <li id="check"><a class="waves-effect waves-dark navLink" asp-area="" asp-controller="Home" asp-action="Check">Compromised?</a></li>
                            <li id="breaches"><a class="waves-effect waves-dar navLink" asp-area="" asp-controller="Home" asp-action="Breaches">Breaches</a></li>
                            <li id="dropdown" class="dropdown">
                                <a href="#" data-toggle="dropdown" class="dropdown-toggle waves-effect waves-dark">About <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a class="waves-effect waves-dark navLink" asp-area="" asp-controller="Home" asp-action="About">Contact Info</a></li>
                                    <li><a class="waves-effect waves-dark navLink" asp-area="" asp-controller="Home" asp-action="Resources">Resources</a></li>
                                    <li><a class="waves-effect waves-dark navLink" asp-area="" asp-controller="Home" asp-action="Login">Admin Login</a></li>

                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <!--<body>
            <header>
                <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                    <div class="container">
                        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">CyberU</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                            <ul class="navbar-nav flex-grow-1">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>-->
        <div>
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="widget">
                            <h5 class="widgetheading">Contact</h5>
                            <address>
                                <strong>Delilah Miller</strong><br>
                                <a href="mailto:dw65@students.uwf.com">dw65@students.uwf.com</a>
                            </address>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="widget">
                            <h5 class="widgetheading">Quick Links</h5>
                            <ul class="link-list">
                                <li id="home"><a class="waves-effect waves-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                                <li id="education"><a class="waves-effect waves-dark" asp-area="" asp-controller="Home" asp-action="Education">Education</a></li>
                                <li id="check"><a class="waves-effect waves-dark" asp-area="" asp-controller="Home" asp-action="Check">Compromised?</a></li>
                                <li id="breaches"><a class="waves-effect waves-dark" asp-area="" asp-controller="Home" asp-action="Breaches">Breaches</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
            <div id="sub-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="copyright">
                                <p>
                                    <span>&copy; Bootstrap Template 2017 All right reserved. Template By </span><a href="http://webthemez.com/free-bootstrap-templates/" target="_blank">WebThemez</a>
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </footer>
    </div>
    <a href="#" class="scrollup waves-effect waves-dark"><i class="fa fa-angle-up active"></i></a>

</body>
</html>
