@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


    <section id="contentArea">
        <h3><strong>Phishing 101 <sup>3</sup></strong></h3>

        <p>Phishing is the <em>ultimate</em> social engineering attack, giving a hacker the scale and ability to go after hundreds or even thousands of users all at once. 
            Phishing scams involve sending out emails or texts disguised as legitimate sources. They may look like they are from a trusted vendor or a law
            enforcement authority, but secretly they contain malware. These messages are specifically designed to trick the victim into opening the email through the tactics
            of fear and intimidation. Once a person opens it, the malicious software downloads onto their computer, and the cybercriminal is in your system.
            <img src="~/img/phishing.png" alt="phishing" style="display:block; float: right; width: 25%; margin-top:2%; margin-left:2%; border:1em double #ff5722" />
            <br /><br />
            Common social engineering methods include sending messages with embedded URLs. Once the person clicks on the link, they are re-directed to a phishing site.
            A phishing email can be sent with a malicious attachment that is rigged with exploits, often with the claim that the attachment is an unpaid invoice that needs attention. 
            What it all comes down to is access, and your employees are the first line of defense. Even if you are a small company, if you serve a large enterprise, then you are a desirable target who can provide the portal that cybercriminals are looking for to get to the big payoff of accessing a multi-national corporation.
            
            <br /><br />
            What if all of the previous techniques don’t work? Attackers will then try something that is more focused and customized: spear-phishing and targeted attacks. 
            So-called “spearphishing” emails used in targeted attacks are one of the most common methods for infecting valuable targets in corporations. Spearphishing attacks 
            tend to target large enterprise organizations more, particularly the C-level staff. Smaller businesses are not seen to be worth targeting specifically, so they tend to 
            only receive generic phishing emails that impersonate service providers or submit fake invoices. Attempts against larger businesses can be far more tailored,
            impersonating customers or even senior staff.</p>

        <p><strong>Avoid pop-ups, unknown emails, and links</strong> <br />Here’s a rule to follow: Never enter personal or company information in response to an email, pop-up webpage, or any other form of communication you didn’t initiate. 
        Phishing can lead to identity theft. It’s also the way most ransomware attacks occur. <sup>1</sup></p>

        <br /><br />
        <p><strong>Here is an example of a <span class="color">phishing attempt</span> and some red flags to look out for</strong></p>
        <br />

        <img src="~/img/phishing-email-signs.jpg" alt="phishing signs" style="display:block; margin: auto" />


    </section>