
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

    <section id="contentArea">
        <h3><strong>Safe Browsing</strong></h3>
        <img src="~/img/safebrowsing.jpg" alt="safebrowsing" style="display:block; float:right; margin: auto%; width:30%; border: 1em double #ff5722" />

        In your daily life, you probably avoid sharing personally identifiable information like your Social Security number or credit card number
        when answering an unsolicited email, phone call, text message, or instant message.
        Keep in mind that cybercriminals can create email addresses and websites that look legitimate. Scammers can fake caller ID information.
        Hackers can even take over company social media accounts and send seemingly legitimate messages. <sup>1</sup>

        <br /><br />


        So here are some tips for browsing safely<sup> 4</sup>:

        <ul>
            <li style="margin-bottom:1%">
                <i class="icon-info-blocks material-icons" style="vertical-align:middle; color: #ff5722">devices</i>

                &nbsp; &nbsp; &nbsp;Keep your browser and any plugins updated<br />
                <div style="margin-left: 4%">
                    Hackers often target vulnerabilities in web browsers which is why the companies that make them
                    release regular updates to patch any vulnerabilities. Installing the latest versions helps keep your device secure.
                </div>
            <li style="margin-bottom:1%">
                <i class="icon-info-blocks material-icons" style="vertical-align:middle; color: #ff5722">devices</i>
                &nbsp; &nbsp; &nbsp;Clear your web browser cache and cookies<br />
                <div style="margin-left: 4%">
                    Even if websites do decide to track your browsing data, you can limit the impact by regularly clearing your browser cache
                    and deleting unwanted cookies. This prevents ads from following you around the web and can also ensure you have the latest
                    version of a web page downloaded.
                </div>
            </li>
            <li style="margin-bottom:1%">
                <i class="icon-info-blocks material-icons" style="vertical-align:middle; color: #ff5722">devices</i>
                &nbsp; &nbsp; &nbsp;Use a password manager<br />
                <div style="margin-left: 4%">
                    These encrypt and securely store your login information for all the websites you used and help you log in automatically –
                    leaving you to remember just the one master password.
                </div>
            </li>
            <li style="margin-bottom:1%">
                <i class="icon-info-blocks material-icons" style="vertical-align:middle; color: #ff5722">devices</i>
                &nbsp; &nbsp; &nbsp;Ensure you have up-to-date antivirus and firewall protection<br />
                <div style="margin-left: 4%">
                    Threats can be hidden in even in the most reputable websites or
                    files from the most trusted of sources and ensuring you are protected
                    with a smart antivirus platform is well worth a small investment
                    in time to ensure you are protected. The most reputable antivirus
                    software solutions currently available, use big data and AI to
                    monitor every running application and detect attacks before they happen.
                </div>
            </li>
        </ul>



    </section>