
@{
    ViewData["Title"] = "Contact";
}

    <section class="section-padding gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title text-center">
                        <h2>Contact Info</h2>
                        <!--<p>Curabitur aliquet quam id dui posuere blandit. Donec sollicitudin molestie malesuada Pellentesque <br>ipsum id orci porta dapibus. Vivamus suscipit tortor eget felis porttitor volutpat.</p>-->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-3">
                </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="about-text">
                            <p>
                                Hello World! My name is Delilah Miller. I am a grad student at the University of West Florida. I am
                                aquiring my masters in Cybersecurity. This website fulfills the requirements for my Computer Science Project class.
                                I am passionate about web programming and cybersecurity!

                                <br /><br />
                                I hope you found this website to be enjoyable and helpful! If you have any questions, my contact is: <br />
                                <a href="mailto:dw65@students.uwf.edu" target="_blank">dw65@students.uwf.edu</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2">
                        <div class="me-image">
                            <img src="~/img/me2.jpg" alt="About Images">
                        </div>
                    </div>
             
            </div>
    </section>

