@{
    ViewData["Title"] = "Home";
}


      

        <section class="section-padding gray-bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title text-center">
                            <h2>Cyber-educate Yourself.</h2>
                            <!--<p>Curabitur aliquet quam id dui posuere blandit. Donec sollicitudin molestie malesuada Pellentesque <br>ipsum id orci porta dapibus. Vivamus suscipit tortor eget felis porttitor volutpat.</p>-->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="about-text">
                            <p>
                                “Cybersecurity is no longer just an IT issue, it’s just something that, frankly,
                                <div style="margin-left:20%">
                                    <span class="color" style="font-size:200%">everybody</span>
                                    should know the basics about.”</div>


                                    <div style="margin-left:70%"><span style="font-size:75%">&mdash; Scott Shackelford</span></div>
                                    <br />

                                    In an ideal situation, the threat of cyber-attacks would be minimal if we were proactive in keeping their devices and
                                    information safe. However, many people use their e-mail accounts and devices without regard for cybercrimes.

                                    <br /><br />
                                    It is important to practice good habits into people and learn about the dangers of cybercrimes.
                                    Cybersecurity isn’t just for the pros, being safe online is largely a matter of replacing the unsafe habits with safe ones. <sup>13</sup>

                                    <br /><br />

                                    This website is designed to <span class="color">educate</span> and <span class="color">encourage</span> good browsing habits.
                            </p>
                              
</div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="about-image">
                            <img src="img/about.jpg" alt="About Images">
                        </div>
                    </div>
                </div>
            </div>
        </section>


        
