@model CyberU.Models.Credential
@{
    ViewData["Title"] = "Login";
}

<section class="section-padding gray-bg">

    <div class="container">
        <div class="row">
            <div class="col-md-3">

            </div>
            <div class="col-md-6">
                <div class="about-logo">
                    <h3><span class="color">Admin Login</span></h3>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-3">

            </div>
            <div class="col-md-6">
                <p> </p>
                <h5 class="red-text">@(Model?.Error)</h5>
                <!-- Form itself -->
                <form name="sentMessage" id="loginForm" method="post" asp-action="LoginAttempt">

                    <div class="input-field">
                        <input type="text" class="form-control" id="username" required
                               data-validation-required-message="Please enter your username" asp-for="Username"/>
                        <label for="name" class="">   Username </label>
                    </div>

                    <div class="input-field">
                        <input type="password" class="form-control" id="password" required
                               data-validation-required-message="Please enter your email" asp-for="Password"/>
                        <label for="name" class="">   Password </label>
                    </div>



                    <div id="success"> </div> <!-- For success/fail messages -->
                    <button type="submit" class="btn btn-primary waves-effect waves-dark pull-right">Login</button><br />
                </form>
            </div>

        </div>
    </div>

</section>

