
@{
    ViewData["Title"] = "Resources";
}

<section class="section-padding gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center">
                    <h2>Resources</h2>
                    <!--<p>Curabitur aliquet quam id dui posuere blandit. Donec sollicitudin molestie malesuada Pellentesque <br>ipsum id orci porta dapibus. Vivamus suscipit tortor eget felis porttitor volutpat.</p>-->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-sm-8">
                <div class="about-text">
                    <p>Below is a list of resources where any educational content or breach information has been found: </p>

                    <ol>
                        <li>
                            Johansen, Alison Grace. "10 Cybersecurity Best Practices That Every Employee Should Know."
                            <br />
                            &nbsp; &nbsp; &nbsp; &nbsp; https://us.norton.com/internetsecurity-how-to-cyber-security-best-practices-for-employees.html.
                        </li>
                        <li>
                            "How Do I Create a Strong and Unique Password?" Webroot.
                            <br />
                            &nbsp; &nbsp; &nbsp; &nbsp; https://www.webroot.com/us/en/resources/tips-articles/how-do-i-create-a-strong-password
                        </li>
                        <li>Curabitur aliquet quam id dui</li>
                        <li>Donec sollicitudin molestie malesuada.</li>
                    </ol>
                    <a href="#" class="btn btn-primary waves-effect waves-dark">Learn More</a>
                </div>
            </div>
            
        </div>
    </div>
</section>



